.locations-menu-item {
    font-size: 1.2em;
    font-style: italic;
    text-decoration: none;
    color: black;
    padding: 5px;
    cursor: pointer;
    display: inline-block;
}

.locations-menu-item img {
    margin-right: 5px;
    border: 2px outset dimgray;
    border-radius: 20px;
    height: 45px;
    width: 60px;
}


.nature:hover img {
    border-color: green;
}

.nature:hover {
    color: green;
}

.village:hover img {
    border-color: deepskyblue;
}

.village:hover {
    color: deepskyblue;
}

.locations-navigation {
    width: 80%;
}

.location-item {
    font-size: 1.1em;
    margin-top: 5px;
    cursor: pointer;
    width: 80%;
    background-color: white;
    margin-right: auto;
    margin-left: auto;
    padding: 10px 0;
    border: 3px outset dimgray;
    border-radius: 25px;
}

.location-item:hover {
    font-style: italic;
    color: deepskyblue;
    border-color: silver;
    background-color: black;
}