.article-feedback-holder {
    margin-top: 20px;
    border: 5px ridge;
    border-color: dimgray white;
    border-radius: 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.article-feedback-holder h3 {
    background-color: silver;
    padding: 10px;
    font-size: 1.0em;
    border-bottom: 3px dotted greenyellow;
    height: 18px;
}

span.article-comment-owner-name{
    float: left;
    color: green;
    font-style: italic;
    cursor: pointer;
}

span.article-comment-owner-name:hover {
    color: lawngreen;
}

div.article-comment-text {
    text-align: center;
    padding: 7px 15px;
}

.article-comment-delete {
    float: right;
}

.article-comment-delete input[type='button']{
    color: red;
    cursor: pointer;
    border: 2px outset lawngreen;
    border-radius: 10px;
}

.article-comment-delete input[type='button']:hover {
    background-color: red;
    color: white;
    border-color: white;
}

.article-comment-composer textarea {
    max-width: 80%;
    min-width: 80%;
    min-height: 100px;
    font-size: 1.2em;
    border: 2px ridge;
    border-color: white dimgray;
    border-radius: 10px;
    padding: 5px;
}

.article-comment-composer h3 {
    margin-bottom: 5px;
}

.article-comment-button {
    margin: 10px;
    padding: 10px 25px;
    background: dimgray no-repeat center center fixed; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, white, dimgray); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, white, dimgray); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, white, dimgray); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, white, dimgray); /* Standard syntax */
    font-family: Bangers, sans-serif;
    font-size: 1.0em;
    color: white;
    cursor: pointer;
    border: 2px outset white;
    border-radius: 50%;
    width: 30%;
}

.article-comment-button:hover {
    background: dimgray no-repeat center center fixed; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left bottom, dimgray, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top right, dimgray, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top right, dimgray, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to top right, dimgray, white); /* Standard syntax */
    color: darkviolet;
}

.comments-info-span {
    color: red;
    font-size: 0.8em;
    font-style: italic;
    display: none;
}