body {
  background-color: darkgray;
  font-family: "Franklin Gothic Medium", sans-serif;
  min-width: 580px;
  max-width: 750px;
  height: inherit;
  margin-left: auto;
  margin-right: auto;
}

#wrapper {
  background: white no-repeat center center fixed; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, white, silver); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, white, silver); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, white, silver); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, white, silver); /* Standard syntax */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-radius: 10px;
  border: 4px double deepskyblue;
}


.user-form {
  margin: 25px auto;
  padding: 10px;
  border: 5px outset dimgray;
  width: 50%;
  border-radius: 35%;
}

.user-form div {
  font-size: 1.2em;
  margin-top: 10px;
}

.user-form input {
  color: blue;
  text-align: center;
}

.user-form input[type='submit'] {
  font-size: 0.9em;
}

.message-box {
  margin: 5px auto;
  font-style: italic;
  padding: 10px;
  color: white;
  border-radius: 10px;
  display: none;
  width: 80%;
  border: 3px dotted white;
}

#loadingBox {
  background-color: dodgerblue;
}

#errorBox {
  background-color: maroon;
}

#infoBox {
  background-color: green;
}